<h1> Add new Makeup </h1>

<div class= 'container'>
  <div class: "row">
    <h3 class= 'text-center'>Add Makeup</h3>
    <div class= "col-md-8 col-md-offset-2">
        <div class="well">
          <%= render "form" %>
        </div>
    </div>
  </div>
</div>