<h1> Drama Show Page! </h1>


<div class='container'>
  <div class='row'>
    <div class="col-md-6">
      <h1><%= @drama_show.title%></h1>
      <div class='well profile-block profile-description'>
        <h3> Description</h3>
        <%= @drama_show.description %>
      </div>
    </div>
  </div>
</div>