  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
        
      <div class ='row about-row'>
        <h1 class = 'text-center'> Sobre Nosotras</h1>
      </div>  
         
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div class= 'about-text well-sm'>
            <p class = 'about-heading'>Hola a todos! </p>
            <p class='about-body'>
            Aquí conocerás un poco sobre nosotras. Somos Lucia (hermana mayor) y Sofía (hermana menor)  dos hermanas locas por 
            la cultura asiática. Nos llevamos dos años de diferencia así que siempre estuvimos juntas y desarrollamos una 
            buena relación, además de hermanas también somos mejores amigas.  Desde que éramos pequeñas (8-10 años) siempre 
            veíamos muñequitos en la computadora aunque no sabíamos que era animes hasta más grandes xD.  Nuestro primer anime 
            fue Sakura Card Captor este nos capturó desde el primer momento especialmente por la magia e historia romántica que 
            contenía, fue así como conocimos el mundo de los animes. Luego al pasar los años durante la High School con 
            frecuencia veíamos videos por YouTube, un día en particular yo (Lucia) vi un video que me capturó, 
            este era un drama. Rápidamente fui a buscar el nombre del drama y lo empecé a ver sola ya que a Sofía no le 
            llamo la atención. Pero un día, cuando yo llegue de hacer unos encargos encuentro a Sofía viendo el drama el 
            cual casi había terminado xD desde allí empezamos a ver dramas juntas.  Después, conocimos el k-pop exactamente 
            igual que los dramas por YouTube y nos encantó, nosotras siempre tuvimos gustos muy diferentes a los demás 
            respecto a la música. Nuestro primer grupo fue TVXQ (antes que se separaran T-T), nos encantó como cantaban y 
            sus maravillosas coreografías. Al pasar los años veíamos más y más animes y dramas de países diferentes hasta 
            tener una gran lista xD. Un día al terminar un drama pensamos porque no hacer un blog con nuestras opiniones 
            (que son muy diferentes a otras personas) y poder recomendar buenos dramas o animes, productos, manualidades y 
            mucho más. Somos fanáticas del cuidado facial oriental y sus productos de maquillaje lo cuales queremos recomendar. 
            Es por tal razón, que quisimos realizar este blog esperamos que les gusten. </p>
          </div>
        </div>
      </div>   
         
         
        <div class='row'>
          <div class= 'col-md-12'>
            <div class='gif-div'>
              <div class = 'gif-items'>
                <%= image_tag('sakura-left.gif', class: 'img-responsive') %> <%= image_tag('Chibi-miku.gif', class: 'img-responsive')%> <%= image_tag('sakura-right.gif', class: 'img-responsive')%>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
