<div class='home-callout text-center container-fluid'>

    <h1 class= 'brand-text home-heading'> Sakura Street</h1>
    <p class='home-paragraph'> Anime Maquillaje Musica y mucho mas... </p>
    <div class='gif-test'>
        <%= image_tag 'giphy.gif' %>
    
    </div>

</div>