<div class="home-callout">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">

        <div class='row'>
          <h1 class= 'brand-text h-text text-center'> Sakura Street</h1>
          <p class='brand-text text-center'> Anime Maquillaje Musica y mucho mas... </p>
        </div>
        
        <div class='row'>
          <div class ='home-div text-center'>
            <h2 class= 'home-h'> Bienvenido a nuestro blog!</h2>
            <p>Somos dos hermanas locas por la cultura
            asiatica.  Nos encanta los animes , dramas coreanos, K-pop, etc.  En
            nuestro blog encontraras reseñas de cualquier tipo: peliculas, animes, dramas
            entre otros. </br></br> Ademas, encontraras recomendaciones de productos de maquillaje, y cuidado
            personal.</br>Esperamos que les guste! :) </p>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>