/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// BOOTSTRAP GRID DISPLAY
// div[class="row"] {
//     border: 1px dotted rgba(0, 0, 0, 0.5);
// }

// div[class^="col-"] {
//     background-color: rgba(255, 0, 0, 0.2);
// }

// General settings
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body { 
  background-color: #cc99fe; //light-purple
}

// Full site text styling
p, h4, h3 {
  font-family: 'Quicksand';
}

h2, h1 {
  font-family: 'Lobster Two';
}

// Baner image styling
.banner {
    background-image: url("cherry-blossom.jpg");
    padding: 100px;
    background-position: 0px 73%;
    background-repeat: no-repeat;
    background-size: cover;
}

// Breadcrumps stylign
.breadcrumbs {
  margin-bottom: 20px;
}

// Navbar CSS

// CSS for the navbar brand logo
.brand-text {
  font-family: 'Pacifico', cursive;
}

// Code eliminates the padding at the navbar's sides for full width navbar
.nav-container {
  padding: 0px;
}

// Navbar coloring and shaping
.navbar-inverse {
  border-radius: 0px;
  background-color: #3c135b; //deep violet
}

// Navbar spacing
.navbar-container {
  padding-left: 25px;
  padding-right: 25px;
}

// Media query for collapsing bootstrap navbar @width without recompiling!
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

// // Used to hide form label text.  Saved for future reference!
// .visuallyhidden {
//   border: 0;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }

// Home section

// Home background div size and image attachment
.home-callout {
  background-image: url('blogbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 65%;
    h1 {
      font-size: 110px;
      text-shadow: 4px 3px black;
      color: white;
    }
    p {
      text-shadow: 2px 0px black;
      color: white;
      font-size: 25px
    }
}
