// BOOTSTRAP GRID DISPLAY
// div[class="row"] {
//     border: 1px dotted rgba(0, 0, 0, 0.5);
// }

// div[class^="col-"] {
//     background-color: rgba(255, 0, 0, 0.2);
// }


.avatar-show-img {
  margin-left: auto;
  margin-right: auto;
}


.information-row {
  display: flex; /* equal height of the children */
  background-color: rgb(110, 123, 158);
  margin-bottom: 30px;
}

.description-col,.avatar-col {
  padding: 1em;
  border: solid;
}