.avatar-show-img {
  margin-left: auto;
  margin-right: auto;
}


.information-row {
  display: flex; /* equal height of the children */
  background-color: rgb(110, 123, 158);
  margin-bottom: 30px;
}

.description-col,.avatar-col {
  padding: 1em;
  border: solid;
}


// Center image vertically! Use in element container. Have it inherit from the bootstrap col parent. This is a css3 method!
.column {  
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}