.avatar-index-img {
  max-width: 130px;
  max-height: 256px;
  min-width: 128px;
  margin-left: auto;
  margin-right: auto;
}

// Two divs of equal height!
.results-row {
  display: flex; /* equal height of the children */
  background-color: rgb(110, 123, 158);
  margin-bottom: 30px;
}

.description-col-index,.avatar-col-index {
  padding: 1em;
  border: solid;
}

.index-column {  
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sorting-row {
  padding: 25px;
}