.avatar-index-img {
  max-width: 200px;
  max-height: 300px;
  // min-width: 128px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3c135b;
}

// Two divs of equal height!
.results-row {
  display: flex; /* equal height of the children */
  // background-color: rgb(110, 123, 158);
  margin-bottom: 30px;
  // background-image: url('congruent_pentagon.png');
}

.description-col-index,.avatar-col-index {
  padding: 1em;
}

.index-column {  
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sorting-row {
  padding: 25px;
}

.function-row {
    // border: 5px solid;
    margin-bottom: 20px;
    padding: 5px 0px;
    background-color: #3c135b;
    border-radius: 5px;    
}

.description-col-index {
  background-color: white;
  // border-left: 5px solid black;
}

.description-col-index a > h2 {
  color: #ff40c7;
}

.description-col-index > h4 {
  color: #73ff1e;
}

.index-column >h4 {
  color: #ff40c7;
}

.results-row {
  border: 5px solid #26093c;
  border-radius: 5px ;
  background-color: #3c135b;
  // wraps line if containing div limits the word space
  word-wrap: break-word;
  // breaks a word between any two letters
  // word-break: break-all;
}

// .add-row {
//   border: 1px solid black;
// }

.avatar-rating {
  color: #ff40c7;
}