// Activity feed css

div.resenas-well {
  background-image: url("whitecherryblossom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid white;
}

div.well-sm {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
}

.resenas-row div>h1>a, .cat-block ul>li>h4>a, .resenas-row h2>a {
  color: white;
  text-shadow: 2px 2px black;
}

.home-div {
  position: absolute;
  margin-top: 50%;
  background-color: rgba(60, 19, 91, 0.25);
}  

.home-div > .home-p {
  font-size: 1.5em;
}

.home-h {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 3em;
}

// Activity Log CSS

div.panel-default {
    border-color: #3c135b;
}

.panel-default > div.panel-heading {
    color: #ffffff;
    background-color: #3c135b;
    border-color: #3c135b;
}

// About Page CSS
div.gif-items {
    text-align: center;
    margin-top : 30px;
    margin-bottom: 30px;
}

div.gif-items > img {
    display: inline-block;
    width: 150px;
    height: 100px;
}

div.gif-teism :after {
    content: '';
    display: inline-block;
    width: 100%;
}

.about-row {
  color: white;
  text-shadow: 2px 2px black;
}

.about-text {
  line-height: 1.5;
}

.about-body {
  text-indent: 50px;
}