// Activity feed css

.resenas-well {
  background-image: url("whitecherryblossom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

div.well-sm {
background-color: rgba(0, 0, 0, 0.15);
}

.resenas-row div>h1>a, .cat-block ul>li>h4>a, .resenas-row h2>a {
  color: white;
  text-shadow: 2px 2px black;
}

.home-p {
  position: absolute;
  margin-top: 50%;
  background-color: rgba(60, 19, 91, 0.25);;
}
